@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #a976c311;
  color: #293241;
}

h1 {
  font-family: "Goldman", cursive;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: normal;
  color: #5f2a62;
  text-transform: uppercase;
}

.loader {
  position: fixed;
  background: #5f2a6255;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 25px 30% 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-container img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 21px;
  }

  .image-container {
    margin: 15px;
  }
}
